<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]="miForm" (ngSubmit)="guardar()" >

    <!--Region-->
    <div class="row br-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
                    formControlName="region">
                <option value="">--Selecione el Continente</option>
                <option *ngFor="let region of regiones"
                        [value]="region | lowercase"> {{ region }} </option>
            </select>
        </div>
    </div>

     <!--Pais-->
     <div class="row br-3" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label">País:</label>
            <select class="form-control"
                    formControlName="pais">
                <option value="">--Selecione el Pais</option>
                <option *ngFor="let pais of paises"
                        [value]="pais.alpha3Code"> {{ pais.name }} </option>
            </select>
        </div>
    </div>

    <!--Fronteras-->
    <div class="row br-3" *ngIf="fronteras.length > 0">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select class="form-control"
                    formControlName="frontera">
                <option value="">--Selecione el pais Fronterizo</option>
                <option *ngFor="let frontera of fronteras"
                        [value]="frontera.alpha3Code"> {{ frontera.name }} </option>
            </select>
        </div>
    </div>

    <!--PARA BLOQUEAR LOS SELECTORES-->
    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>  
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Selector
            </button>
        </div>
    </div>
    
</form>

<h2>Formulario</h2>
<pre>Valid: {{ miForm.valid }} </pre>
<pre> {{ miForm.value | json }} </pre>
